@import url('https://fonts.googleapis.com/css?family=Exo');

body {
	margin: 0;
	font-family: sans-serif;
}

#main {
	height: 100vh;
	width: 100%;
	border-collapse: collapse;
}

#nav {
	height: 1%;
	background-color: #000055;
}

#navbar {
	border-collapse: collapse;
	color: white;
	width: 100%;
	position: relative;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
	z-index: 1;
}

#title {
	border: solid transparent;
	border-width: 5px 20px;
	color: white;
	font-size: 200%;
	font-family: "Exo", sans-serif;
}

#navitems td:first-child {
	width: auto;
}

#navitems td {
	border: solid transparent;
	border-width: 10px 20px;
	white-space: nowrap;
	width: 1%;
}

#items {
	table-layout: fixed;
	border-collapse: collapse;
	height: 100%;
	width: 100%;
}

.item td {
	padding: 0px;
	position: relative;
	overflow: hidden;
}

img {
	position: absolute;
	max-height: 120%;
	max-width: 100%;
	margin: auto;
	top: 0;
	bottom: 0;
}

.left {
	right: 0;
}

.right {
	left: 0;
}